littlepoll/
*-min.js
text/
The-Anonymous-Press-green.gif
FEpicture.png
favicon.*
lp_admin.php
anonpress.org/style.css
.idea/

anonpress.net/assets/templates/*
!anonpress.net/assets/templates/backpacks-core/
anonpress.net/assets/templates/backpacks-core/*
!anonpress.net/assets/templates/backpacks-core/*.html