
body {
	margin: 0;
}

nav {
	margin-bottom: 1.5em;
}

div#admin-badge {
	top: calc(1in + 1.5em);
}

@media screen and (min-width: 965px) {
	.mobileonly {
		display: none !important;
	}
}

@media screen and (max-width: 965px) {
	.nomobile, .breadcrumnb {
		display: none;
	}

	nav {
		margin: 0;
	}

	body {
		padding-top: .1pt;
	}
}

.mz-expand {
	background-color: #fffc;
}

.mz-expand-bg {
	display: none !important;
}

html {
	background-color: #fff;
}

/* Prevent the error "Please select all required options" on study page from being hidden behind menu on desktop */
.mb--messagebar.mb--messagebar--show {
	top: 3.2rem !important;
}

