/* Minified css is in index.php */
h1 {
	margin-left: 5%;
	max-width: 90%;
}
header form {
	margin-right: 5%;
}
button {
	padding: 0.5em 1em;
	font: inherit;
	border-radius: 9px;
	border: 1px solid #ccc;
	color: #333;
	background: linear-gradient(to bottom, #fff 0%,#f2f2f2 50%);
}
header button {
	font-size: 18pt;
}
button:hover {
	cursor: pointer;
	color: #33f;
}
button:active {
	background: linear-gradient(to top, #fff 0%,#f2f2f2 50%);
}
body>section {
	margin-left: 10%;
	margin-right: 10%;
}

#randquote {
	max-width: 615px;
}
#randquote>h2 {
	font-size: large;
	color: #808040;
	margin: 0;
	font-weight: inherit;
}
#randquote>h2:after {
	content: ':';
}
#randquote blockquote {
	margin: 0 1.5em;
}
#randquote p {
	margin: 0;
}
#randquote cite {
	font-size: small;
	color: #666;
	font-style: normal;
	margin-left: 0.5em;
}

.flex {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: flex-start;
}
div.flex>section, .shadowbox {
	border: thin outset #ccc;
	border-radius: 0.5em;
	box-shadow: 2px 2px 5px #333;
	padding: 0.5em;
	margin: 2px 5px 5px 2px;
	position: relative;
	background-color: rgba(255,255,255,187);
}
div.flex>section {
	min-width: 350px;
	position: relative;
	margin-top: 36pt;
	padding: 1em;
}
div.flex>section>h2 {
	position: absolute;
	top: -26pt;
	left: 0;
	font-size: 24pt;
	text-transform: uppercase;
	margin: 0;
	color: #808040;
	font-weight: 200;
}
div.flex>section>h2:after {
	content: ':';
}
.colon:after {
	content: ':';
}
address {
	font-feature-settings: "lnum";
	font-style: normal;
}
@media screen and (max-width: 560px) {
	div.optional.flex {
		display: block;
		text-align: center;
	}
}
ul.polls *:not(h4)>a {
	color: #666;
}
ul.polls>li>ul>li {
	margin-bottom: 1em;
}
ul.links li.center {
	text-align: center;
	letter-spacing: 0.06em;
}

.def {
	display: inline-block;
	width: auto;
}
.def:first-letter {
	font-weight: bold;
}