on: push
name: Deploy website
jobs:
  upload:
    name: Upload website
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@master
      - name: SFTP upload anonpress.org
        uses: Dylan700/sftp-upload-action@latest
        with:
          server: ftp.anonpress.org
          username: anonpress
          password: ${{secrets.WEB_SFTP_PASSWORD}}
          port: 22
          uploads: |
            ./anonpress.org/ => /home/anonpress/anonpress.org/
